.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: $color-secondary;

  .profile {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;

    .profileTop {
      .profileCover {
        height: 350px;
        position: relative;

        .profileCoverWrapper {
          position: relative;

          .profileCoverImage {
            width: 100%;
            height: 250px;
            -o-object-fit: cover;
            object-fit: cover;
          }

          .profileCoverGradient {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-image: linear-gradient(
              to top,
              $background 10%,
              rgba(0, 0, 0, 0) 100%,
              transparent
            );
            width: 100%;
            height: 20%;
          }
        }

        .profileUserImage {
          width: 170px;
          height: 170px;
          position: absolute;
          left: 0;
          right: 0;
          z-index: 2;
          top: 170px;
          margin: auto;
          border: 3px solid $background;
        }
      }

      .profileInfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .profileInfoName {
          font-size: 24px;
          font-weight: 600;
        }

        .profileInfoBio {
          font-weight: 300;
        }

        .profileInfoBioEdit {
          font-family: $font-primary !important;
          text-transform: none !important;
          font-size: 14px;
          background-color: transparent;
          color: $color-primary;
          font-weight: 400 !important;
          cursor: pointer;
          padding: 0px 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          .MuiSvgIcon-root {
            font-size: 17px !important;
            margin-right: 2px;
          }
        }

        .profileInfoBioTextarea {
          background-color: $background-input;
          resize: none;
          padding: 5px 10px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          color: $color-secondary;
          width: 200px;
          -webkit-box-shadow: $shadow-secondary;
          box-shadow: $shadow-secondary;

          &::-webkit-scrollbar {
            width: 14px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $background-primary;
            border: 3px solid $background-input;
            border-radius: 999px;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: $background;
          }
        }

        .profileInfoBioTextareaCounter {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          width: 200px;

          .profileInfoBioTextareaMax {
            font-size: 12px;
            color: gray;
          }

          .profileInfoBioTextareaButton {
            font-family: $font-primary !important;
            text-transform: none !important;
            font-size: 14px;
            background-color: transparent;
            color: $color-primary;
            font-weight: 400;
            cursor: pointer;
            margin-top: 5px;
            line-height: 0.5 !important;
          }
        }
      }
    }

    .profileBottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}
