.newPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .newPostProfile {
    position: relative;
  }

  .newPostAvatar {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 3px solid $background-primary;
  }

  .newPostOnlineStatus {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: limegreen;
    position: absolute;
    bottom: 4px;
    right: 4px;
    border: 2px solid #242526;
  }

  .newPostForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $background-primary;
    width: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    textarea {
      width: 100%;
      margin: 15px 15px;
      resize: none;
      background-color: $background-input;
      color: $color-secondary;
      padding: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;

      &::-webkit-scrollbar {
        width: 14px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $background-primary;
        border: 3px solid $background-input;
        border-radius: 999px;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: $background;
      }
    }
  }

  .newPostFlipMove {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .newPostCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-top: 10px;
    background-color: $background-primary;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    z-index: 2;

    .newPostCardLeft {
      img {
        width: 40px;
        height: 40px;
      }
    }

    .newPostCardRight {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;

      .newPostCardHeader {
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        h2 {
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          font-size: 12px;
          color: gray;
          margin-left: 10px;
        }
      }

      .newPostCardContent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100%;

        p {
          white-space: pre-line;
          word-wrap: break-word;
          word-break: break-all;
        }

        img {
          margin-top: 5px;
          width: 100%;
          max-height: 500px;
          -o-object-fit: contain;
          object-fit: contain;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
        }

        video {
          margin-top: 5px;
          width: 100%;
          max-height: 100vh;
          -o-object-fit: contain;
          object-fit: contain;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
        }
      }
    }
  }

  .newPostFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    width: 70%;
    background-color: $background-primary;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: $shadow-secondary;
    box-shadow: $shadow-secondary;
    z-index: 1;

    .newPostFooterIcons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;

      label {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px;

        .MuiSvgIcon-root {
          color: $color-primary;
          font-size: 24px;
          margin-right: 10px;
        }

        &:hover {
          background-color: $background-input;
        }
      }

      .newPostFooterIconsPicture {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
      }

      .newPostFooterIconsDelete {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 0.6;
        -ms-flex-positive: 0.6;
        flex-grow: 0.6;
        border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
      }

      .newPostFooterIconsCancel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 0.6;
        -ms-flex-positive: 0.6;
        flex-grow: 0.6;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
      }

      .newPostFooterIconsSend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-bottom-right-radius: 10px;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
      }

      .hide {
        display: none;
      }
    }
  }
}
