.cls-1 {
  fill: #3a3b3c;
}

.cls-2 {
  fill: #d3d3d3;
}

.cls-3 {
  fill: #de8e68;
}

.cls-4 {
  fill: #ec772e;
}

.cls-5 {
  fill: #ee8645;
}

.cls-6 {
  fill: #d37c59;
}

.cls-7 {
  fill: #fed385;
}

.cls-8 {
  fill: #fed892;
}

.cls-9 {
  fill: #dc8e6c;
}
