@import "./keyframes";
@import "./settings";

@import "./pages/authentication";
@import "./pages/home";
@import "./pages/profile";
@import "./pages/notfound404";

@import "./components/login";
@import "./components/register";
@import "./components/notfound";
@import "./components/topbar";
@import "./components/sidebar";
@import "./components/feed";
@import "./components/newpost";
@import "./components/post";
@import "./components/deletemodal";
@import "./components/rightbar";
@import "./components/onlinefriend";
